
html,body,#app{
	height: 100%;
	background-color: #e6e6e6;
}
a {
  color: #000;
	text-decoration: none;
}
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
input,p,ul,ol,h1,h2,h3,h4,h5,h6,dd,body{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
}


/* .body{
	width: 100%;
	padding: 20px 0;
	
	
} */
.box{
	width: 80%;
	margin: 0 auto; 
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: -2px 2px 5px #bbb;
}
